@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&display=swap');
/*  Font Icons
*************************************/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?b5a9sr');
  src:  url('../fonts/icomoon.eot?b5a9sr#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?b5a9sr') format('truetype'),
    url('../fonts/icomoon.woff?b5a9sr') format('woff'),
    url('../fonts/icomoon.svg?b5a9sr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-Black.ttf') format('truetype'),
         url('../fonts/Muli-Black.woff2') format('woff2'),
        url('../fonts/Muli-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-ExtraBold.ttf') format('truetype'),
        url('../fonts/Muli-ExtraBold.woff2') format('woff2'),
        url('../fonts/Muli-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src:  url('../fonts/Muli.ttf') format('truetype'), 
        url('Muli.woff2') format('woff2'),
        url('Muli.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-cheveron-left:before{
  content: "\e901";
}
.icon-cheveron-right:before{
  content: "\e902";
}
.icon-arrow-right:before{
  content: "\e900";
}
.icon-phone:before{
  content: "\e942";
}
