::-webkit-input-placeholder {
  color: $mycolor-black;
}
::-moz-placeholder {
  color: $mycolor-black;
}
:-ms-input-placeholder {
  color: $mycolor-black;
}
:-moz-placeholder { 
  color: $mycolor-black;
}


.contact-us{
	::-webkit-input-placeholder {
	   opacity: 0;

	   @include media(max-width, 767px){
	   		opacity: 1;
	   		text-align: center;
	   		color: #bcbcbc;
	   }
	}
	::-moz-placeholder {
	   opacity: 0;

	   @include media(max-width, 767px){
	   		opacity: 1;
	   		text-align: center;
	   		color: #bcbcbc;
	   }
	}
	:-ms-input-placeholder {
	   opacity: 0;

	   @include media(max-width, 767px){
	   		opacity: 1;
	   		text-align: center;
	   		color: #bcbcbc;
	   }
	}
	:-moz-placeholder { 
	   opacity: 0;

	   @include media(max-width, 767px){
	   		opacity: 1;
	   		text-align: center;
	   		color: #bcbcbc;
	   }
	}
}


.sign-template{
	::-webkit-input-placeholder {
	  	color: #bcbcbc;
	  	font-weight: bold;
	  	@include media(max-width, 767px){
	  		text-align: center;
	  	}
	}
	::-moz-placeholder {
	  	color: #bcbcbc;
	  	font-weight: bold;
	  	@include media(max-width, 767px){
	  		text-align: center;
	  	}
	}
	:-ms-input-placeholder {
	  	color: #bcbcbc;
	  	font-weight: bold;
	  	@include media(max-width, 767px){
	  		text-align: center;
	  	}
	}
	:-moz-placeholder { 
	  	color: #bcbcbc;
	  	font-weight: bold;
	  	@include media(max-width, 767px){
	  		text-align: center;
	  	}
	}
}

.search-nav {
	
	
	@include media(max-width, 997px){
		::-webkit-input-placeholder {
		  text-align: center;
		}
		::-moz-placeholder {
		  text-align: center;
		}
		:-ms-input-placeholder {
		  text-align: center;
		}
		:-moz-placeholder { 
		  text-align: center;
		}
	}
}